*{
  margin: 0;
  padding: 0;
}

.img-logo{
height: 10rem;
width: 15rem;

}

.img-logo:hover{
  cursor: pointer;
}

.collapse{
  justify-content: end;
}

.navbar-nav{
  gap: 4rem;
}

.weAre{
  width: 100%;
  height: 30rem;
}

.weAre img{
  width: 100%;
  height: 30rem;
  opacity: 0.5;
}
